:root {
    --heading-background-color: rgba(10, 10, 40, 0.5);
    --heading-text-color: #ff6b6c;
    --heading-font: 'Roboto', sans-serif;
    --padding: 1rem;
    --border: 1.4px solid rgb(10, 10, 40, 0.5);
    --paragraph_font: 'Afacad+Flux', sans-serif;
    --paragraph-text-color: #333;
    --paragraph-font-size: 16px;
    --article-background-color: rgba(5, 13, 91, 0.5);
}

*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 900px;
    margin: auto;
}

header{
    display: grid;
    align-items: center;
    grid-template-columns: 30% 1fr;
    padding: 1rem 2rem;
    border-bottom: var(--border);
}

header img{
    width: 40%;
    justify-self: center;
}

header nav {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
}
header nav a{
    font-size: 16px;
    font-family: var(--paragraph_font);
    color: #fff;
    padding: 0.7rem 1.5rem;
    background-color: #5cb85c;
    border-radius: 8px;
}

header nav a:hover{
    background-color: rgb(4, 4, 69, 0.9);
}

a{
    text-decoration: none;
}

main {
    margin-top: 2.5rem;
}

main div:first-child{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    padding: 0;
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero article{
    position: absolute;
    background-color: var(--article-background-color);
    top: 38%;
    padding: 2%;
    left: 8%;
    right: 8%;
}

.hero article img{
    float: right;
    width: 20%;
    margin-left: 10px;
}

.hero article p{
    color: #e7e7e7;
}

h1 {
    background-color: var(--heading-background-color);
    color: #e7e7e7;
    font-family: var(--heading-font);
    padding: var(--padding)
}

h2{
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    margin-bottom: 2%;
    margin-top: 4%;
    text-transform: uppercase;
}

p{
    font-family: var(--paragraph_font);
    color: var(--paragraph-text-color);
    font-size: var(--paragraph-font-size);
}

.section-history{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
}

.history-content{
    display: flex;
    margin-top: 1rem;
    gap: 1.3rem;
}

.history-content img{
    width: 28%;
}

.section-adventure{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
}

.adventure-images{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
}

.adventure-images img{
    width: 100%;
}

figcaption{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

footer{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-top: var(--border);
}
footer p{
    flex: 1;
    text-align: center;
    text-align: center;
}
footer nav{
    display: flex;
}

footer nav img{
    width: 60%;
}


/*
*
-----  CONTACT US -------
*
*/

.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: var(--border);
    margin-top: -2.5rem;
    padding: 0.5rem;
    background-color: rgb(4, 4, 69, 0.9);
}

.contact p{
    color: #fff
}
#contact-us{
    color: var(--heading-text-color);
    background-color: #fff;
    text-align: center;

}

.employees-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
    row-gap: 1rem;
}

.employees-article{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.employee-image{
    width: 100%;
}

.message-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
    row-gap: 2rem;
}

.message-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    border: var(--border);
    padding: 4rem 4rem 0 4rem;
    align-items: center;
    row-gap: 1rem;
    font-family: var(--paragraph_font);
    color: var(--paragraph-text-color);
    font-size: var(--paragraph-font-size);
}

.form-control{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 2rem;
}
.form-control label{
    display: inline-block;
    width: 90px;
    font-weight: 600;
}

.form-control input{
    width: 50%;
    padding: 0.6rem;
    border: var(--border);
    border-radius: 1rem;
}

.radio-group{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.text-area-group{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.text-area-group label{
    font-weight: 600;
}

.text-area-group textarea{
    border: var(--border);
    padding: 0.5rem;
    border-radius: 1rem;
}

.submit-button{
    align-self: self-start;
    justify-self: center;
}

.submit-button button{
    padding: 1rem 3rem;
    border: none;
    border-radius: 7px;
    background-color: #007bff;
    color: #fff;
    font-size: var(--paragraph-font-size);
    font-family: var(--paragraph_font);
    font-weight: 600;
}

.map-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    row-gap: 3rem;
    margin-top: 3rem;
}

.map-section h2{
    justify-self: center;
}

.map-section iframe{
    border:0;
}

 #wireframe{
     color: #007bff;
     font-size: var(--paragraph-font-size);
     font-family: var(--paragraph_font);
 }

/*
colors:
    *#94bf94
    #83df83
    #5cb85c
*/





