:root {
    --heading-background-color: rgba(10, 10, 40, 0.5);
    --heading-text-color: #ff6b6c;
    --heading-font: 'Roboto', sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0,0,0, 0.1);
    --paragraph_font: 'Afacad+Flux', sans-serif;
    --paragraph-text-color: #333;
    --paragraph-font-size: 16px;
    --article-background-color: rgba(5, 13, 91, 0.5)
}

*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 1100px;
    margin: auto;
}
header nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--paragraph_font);
    color: #333;
}
main div:first-child{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    padding: 0;
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero article{
    position: absolute;
    background-color: var(--article-background-color);
    top: 38%;
    padding: 2%;
    left: 8%;
    right: 8%;
}

.hero article img{
    float: right;
    width: 20%;
    margin-left: 10px;
}

.hero article p{
    color: #e7e7e7;
}

h1 {
    background-color: var(--heading-background-color);
    color: #e7e7e7;
    font-family: var(--heading-font);
    padding: var(--padding)
}

h2{
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    margin-bottom: 2%;
    margin-top: 4%;
    text-transform: uppercase;
}

p{
    font-family: var(--paragraph_font);
    color: var(--paragraph-text-color);
    font-size: var(--paragraph-font-size);
}



